* {
    margin: 0 auto;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    background: #efefef;
}
pre{
    margin-left: 10%;
}
.btn{
    padding: 10px 15px;
    background: rgb(72, 97, 34);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-top: 20px;
    margin-left: 10%;
}
.main{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.main .content{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 1;
}
.main .content-main{
    width: 60%;
    z-index: 999;
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    margin-top: 5%;
    display: flex;
    padding: 10px;
}
.content-left{
    height: 55vh;
    width: 70%;
    margin-right: 20px;
}
.content-right{
    width: 30%;
    height: 55vh;
}
.content-right  label {
    display: block;
    font-weight: bold;
}
#title{
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    background: #f3e9e9;
    width: 100%;
    box-sizing: border-box;
}
.left , .right{
    width: 50%;
}
#type, #state{
    width: 70%;
}
.description{
    width: 100%;
}
.active{
    position: absolute;
    bottom: 10px;
    right: 50px;
    z-index: 999;
}
.active a{
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}
.active a:focus {
    border: none;
}
.active a:nth-child(1){
background: rgb(15, 110, 148);
color: white;
}
.active a:nth-child(2){
    background:#efefef;
    color: rgb(0, 0, 0);
    }